<?xml version="1.0"?>
<config>
    <modules>
        <Filofax_BulkUpload>
            <version>1.0.0</version>
        </Filofax_BulkUpload>
    </modules>
    <global>
        <blocks>
            <filofax_bulkupload>
                <class>Filofax_BulkUpload_Block</class>
            </filofax_bulkupload>
        </blocks>
        <models>
            <filofax_bulkupload>
                <class>Filofax_BulkUpload_Model</class>
            </filofax_bulkupload>
        </models>
        <helpers>
            <filofax_bulkupload>
                <class>Filofax_BulkUpload_Helper</class>
            </filofax_bulkupload>
        </helpers>
    </global>
    <admin>
        <routers>
            <filofax_bulkupload>
                <use>admin</use>
                <args>
                    <module>Filofax_BulkUpload</module>
                    <frontName>filofax_bulk_image_import</frontName>
                </args>
            </filofax_bulkupload>
        </routers>
    </admin>
    <frontend>
        <routers>
            <filofax_bulkupload>
                <use>standard</use>
                <args>
                    <frontName>bulkupload</frontName>
                    <module>Filofax_BulkUpload</module>
                </args>
            </filofax_bulkupload>
        </routers>
    </frontend>
</config>
