<?xml version="1.0"?>
<config>
    <modules>
        <Filofax_Upsells>
            <version>1.0.0</version>
        </Filofax_Upsells>
    </modules>
    <global>
        <blocks>
            <filoupsell>
                <class>Filofax_Upsells_Block</class>
            </filoupsell>
            <ambannerslite>
                <rewrite>
                    <adminhtml_promo_quote_edit_tab_bannerNew>Filofax_Upsells_Block_Adminhtml_Promo_Quote_Edit_Tab_BannerNew</adminhtml_promo_quote_edit_tab_bannerNew>
                </rewrite>
            </ambannerslite>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Filofax_Upsells_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <filoupsell>
                <class>Filofax_Upsells_Model</class>
                <resourceModel>filoupsell_mysql4</resourceModel>
            </filoupsell>
            <filoupsell_mysql4>
                <class>Filofax_Upsells_Model_Mysql4</class>
                <entities>
                    <upsells>
                        <table>filoupsell_upsells</table>
                    </upsells>
                </entities>
            </filoupsell_mysql4>
            <ambannerslite>
                <rewrite>
                    <banners>Filofax_Upsells_Model_Banners</banners>
                </rewrite>
            </ambannerslite>
        </models>
        <resources>
            <filoupsell_setup>
                <setup>
                    <module>Filofax_Upsells</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filoupsell_setup>
            <filoupsell_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filoupsell_write>
            <filoupsell_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filoupsell_read>
        </resources>
        <helpers>
            <filoupsell>
                <class>Filofax_Upsells_Helper</class>
            </filoupsell>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <filoupsell>
                    <file>filofax/filoupsell/filoupsell.xml</file>
                </filoupsell>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <salesrule_rule_save_after>
                <observers>
                    <Filofax_Upsells_Model_Observer>
                        <type>singleton</type>
                        <class>Filofax_Upsells_Model_Observer</class>
                        <method>saveAfter</method>
                    </Filofax_Upsells_Model_Observer>
                </observers>
            </salesrule_rule_save_after>
        </events>
    </adminhtml>
</config>
