<?xml version="1.0"?>
<config>
    <modules>
        <Filofax_Collection>
            <version>1.0.0</version>
        </Filofax_Collection>
    </modules>
    <global>
        <blocks>
            <filocollect>
                <class>Filofax_Collection_Block</class>
            </filocollect>
        </blocks>
        <helpers>
            <filocollect>
                <class>Filofax_Collection_Helper</class>
            </filocollect>
        </helpers>
        <resources>
            <filocollect_setup>
              <setup>
                <module>Filofax_Collection</module>
                <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
              </setup>
              <connection>
                <use>core_setup</use>
              </connection>
            </filocollect_setup>
            <filocollect_write>
              <connection>
                <use>core_write</use>
              </connection>
            </filocollect_write>
            <filocollect_read>
              <connection>
                <use>core_read</use>
              </connection>
            </filocollect_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <filocollect>
                    <file>filofax/filocollect.xml</file>
                </filocollect>
            </updates>
        </layout>
    </frontend>
</config>
