<?xml version="1.0"?>
<config>
    <modules>
        <Filofax_Video>
            <version>1.0.0</version>
        </Filofax_Video>
    </modules>
    <global>
        <blocks>
            <filovid>
                <class>Filofax_Video_Block</class>
            </filovid>
        </blocks>
        <helpers>
            <filovid>
                <class>Filofax_Video_Helper</class>
            </filovid>
        </helpers>
        <models>
            <filovid>
                <class>Filofax_Video_Model</class>
                <resourceModel>filovid_resource</resourceModel>
            </filovid>
            <filovid_resource>
                <class>Filofax_Video_Model_Resource</class>
                <entities>
                    <video>
                        <table>filovid_video</table>
                    </video>
                </entities>
            </filovid_resource>
        </models>
        <resources>
            <filovid_setup>
                <setup>
                    <module>Filofax_Video</module>
                    <class>Filofax_Video_Model_Resource_Setup</class>
                </setup>
            </filovid_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <filovid>
                    <file>filofax/filovid.xml</file>
                </filovid>
            </updates>
        </layout>        
        <events>
            <catalog_product_save_after>
                <observers>
                    <filovid_save_product>
                        <type>singleton</type>
                        <class>filovid/observer</class>
                        <method>saveProductVideos</method>
                    </filovid_save_product>                    
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>
